@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 130vh;
}

nav {
    height: 250px;
    margin-bottom: 60px;
}

#menu {
    list-style: none;
    padding: 0px;
    background-color: rgba(149, 128, 78, 0.585);
    height: 100%;

}

#menu li {
    display: inline;
   
}

#menu li a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Bad Script', cursive;
    color: rgb(31, 31, 31);
   font-size: 22px;
   display: flexbox;
   
}

#menu li a:hover {
    background-color: rgba(91, 73, 33, 0.683);
}

.menuA {
    display: flex;
    align-items: center;
    justify-content: start;
}
.Editar {
    width: 110px;
    height: 100px;
    padding-top: 0px;

}

.titulo {
    justify-content: center;
    display: flex;
    font-size: 39px;
    font-family: 'Bad Script', cursive;
    color: rgb(71, 56, 45);
    margin-top: 20px;
   
}

.images {
    border: 3px solid rgb(255, 237, 156);
    display:flex;
    width: 200px; 
}
.images:hover{
 border: 3px solid rgb(255, 166, 0);
 width: 250px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

h2{
    font-size: 30px;
    font-family: 'WindSong', cursive;
    text-align: center;
}

h3{
    font-family: 'Indie Flower', cursive;
    text-align: start;
    display: flex;
    border: 2px solid rgb(125, 74, 56);
    background-color: rgba(223, 199, 169, 0.745);

}
